<img src="./../../assets/images/img7.jpg" alt="alternatetext" id="i1"> 

<h5 class="text-center" id="p">Company Profile & Key Figures</h5>
<p id="p1">Capgemini is a global leader in partnering with companies to transform and manage their business by 
    harnessing the power of technology. The Group is guided everyday by its purpose of unleashing human 
    energy through technology for an inclusive and sustainable future. It is a responsible and diverse 
    organization of over 325,000 team members in more than 50 countries. With its strong 55-year heritage 
    and deep industry expertise, Capgemini is trusted by its clients to address the entire breadth of 
    their business needs, from strategy and design to operations, fueled by the fast evolving and 
    innovative world of cloud, data, AI, connectivity, software, digital engineering and platforms. 
    The Group reported 2021 global revenues of €18 billion.</p>

    <h3>Corporate Governance</h3>

    <p id="p1">Details of our Board of Directors and Board Committees.</p>

    <h3>Management Team</h3>

    <p id="p1">Our Executive Committee and principal Group Directors.</p>

    <h3>Free Bird’s Businesses</h3>

    <p id="p1">Overview of our Consulting, Technology, Outsourcing and Other Managed Services.</p>
    
    <h3>Sectorial Expertise</h3>

    <p id="p1">Summary of the Group’s sectoral expertise</p>


    <img src="./../../assets/images/img5.jpg" alt="alternatetext" id="i1"> 

<br>

<h5 class="text-center" id="p">Free Bird Engineering</h5>


<p id="p1">Free Bird Engineering combines, under one brand, a unique set of strengths from across the Free Bird 
    Group: the world leading engineering and R&D services of Altran – acquired by Capgemini in 2020 – 
    and Free Bird’s digital manufacturing expertise. With broad industry knowledge and cutting-edge 
    technologies in digital and software, Free Bird Engineering supports the convergence of the physical 
    and digital worlds. Combined with the capabilities of the rest of the Group, it helps clients to 
    accelerate their journey towards Intelligent Industry. Free Bird Engineering has more than 52,000 
    engineer and scientist team members in over 30 countries across sectors including aeronautics, 
    automotive, railways, communications, energy, life sciences, semiconductors, software & internet, 
    space & defence, and consumer products.</p>




    <!-- card info-->

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" id="c1">
          <div class="card h-100">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Digital Engineering and Software Services</h5>
              <p class="card-text">
                Free Bird’s Digital Engineering and Software Services brings together deep expertise 
                to lead the convergence of Physical and Digital worlds through technology, engineering 
                and manufacturing expertise to boost our client’s competitiveness.
              </p>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
            <img src="./../../assets/images/img15.jpg" class="card-img-bottom" alt="...">
          </div>
        </div>
        <div class="col"  id="c2">
          <div class="card h-100">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Industrialized GlobalShore</h5>
              <p class="card-text">
                Just as manufacturers build streamlined global networks to optimize production, 
                Free Bird Engineering is designing the world’s first industrialized solution for 
                seamless, end-to-end delivery of engineering and R&D services, delivering operational 
                cost savings, while maintaining the highest quality levels.
              </p>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
            <img src="./../../assets/images/img16.png" class="card-img-bottom" alt="...">
          </div>
        </div>
        <div class="col"  id="c3">
          <div class="card h-100">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Industrial Operations</h5>
              <p class="card-text">The arrival of digital technologies in the manufacturing organizations 
                  has led to reviewing the whole production system.</p>
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
            <img src="./../../assets/images/img17.jpg" class="card-img-bottom" alt="...">
          </div>
        </div>
        

        <div class="col"  id="c4">
            <div class="card h-100">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Intelligent Industry</h5>
                <p class="card-text">
                    The next stage of digital transformation is here. Companies are now focusing on how 
                    to digitize key industrial parts of their businesses and use embedded software, data 
                    and new generation wireless connectivity to rethink what they do and how they do it.
                </p>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
              <img src="./../../assets/images/img18.jpg" class="card-img-bottom" alt="...">
            </div>
          </div>


          <div class="col"  id="c5">
            <div class="card h-100">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Product & Systems Engineering</h5>
                <p class="card-text">
                    Today’s increased complexity and fast moving product cycles require new sorts of 
                    engineering solutions that can manage the higher velocity, volume and complexity of 
                    today’s products, systems and services.
                </p>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
              <img src="./../../assets/images/img19.jpg" class="card-img-bottom" alt="...">
            </div>
          </div>


          <div class="col"  id="c5">
            <div class="card h-100">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Research & Innovation</h5>
                <p class="card-text">
                    Creating value means making a difference on people and the planet. It’s not about going after 
                    everything but focusing with intensity on a compelling experience that starts as a new idea/thinking 
                    or business model then going to broader adoption.
                </p>
              </div>
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
              <img src="./../../assets/images/img20.jpg" class="card-img-bottom" alt="...">
            </div>
          </div>
          
      </div>