<h3 class="text-center text-success">This Month Work Information</h3>
<div class="card "id="b1">
    
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"id="field">Full Name </p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" style="text-transform: uppercase;">{{userdata.efirstname}} {{userdata.elastname}}</p>
            </div>
          </div>
         <hr> 
         <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"id="field">Id</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.eid}}</p>
            </div>
          </div>
         <hr> 
         <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"id="field">Salary</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="sal">{{userdata.esalary}}</p>
            </div>
          </div>
         <hr>
         <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"id="field">Present</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{userdata.eleave}}/24</p>
            </div>
          </div>
         <hr>
         <div class="row">
            <div class="col-sm-3">
              <p class="mb-0"id="field">Percentage</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0" id="per"></p>
            </div>
          </div>
         <hr>   
    </div>
  </div>

  