<!--carosel image slider-->

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="./../../assets/images/img1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./../../assets/images/img2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./../../assets/images/img3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<!--information about company-->
<br>

<div class="row row-cols-1 row-cols-md-3 g-3">
    <div class="col" id="c1">
      <div class="card h-100">
        <img src="./../../assets/images/img9.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"id="content">We belive children are our future</h5>
          <p class="card-text"id="content">Empowering education</p>
          <p id="content1">Students across India put their best ideas for a better future to the test</p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
    <div class="col"  id="c2">
      <div class="card h-100">
        <img src="./../../assets/images/img10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"id="content">We try to lead by example</h5>
          <p class="card-text"id="content">Health and safety first</p>
          <p id="content1">Learn how FREE BIRD scaled its vaccination efforts across India</p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
    <div class="col" id="c3">
      <div class="card h-100">
        <img src="./../../assets/images/img14.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"id="content">We give back to our communities</h5>
          <p class="card-text"id="content">Growing our core</p>
          <p id="content1">Our hub in New Jersey is growing with more investment in STEM and new hires.</p>
        </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div> -->
      </div>
    </div>
  </div>
  <br>
