#content{
    text-align: center;
    color: darkgreen;
}
#content1{
    text-align: center;
    font-style: italic;
}
#c1{
    padding-left: 25px;
    padding-right: 25px;
}
#c2{
    padding-left: 25px;
    padding-right: 25px;
}
#c3{
    padding-left: 25px;
    padding-right: 25px;
}