<h3>ADD USER</h3>
<span class="text text-warning">{{msg}}</span>
<form action="" #f="ngForm" (submit)="doAddUser(f)">
<div>
    <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="account-settings">
                <div class="user-profile">
                    <div class="user-avatar">
                        <img src="https://cdn3.iconfinder.com/data/icons/essential-rounded/64/Rounded-31-512.png" alt="Maxwell Admin">
                    </div>
                    <!-- <h5 class="user-name">Yuki Hayashi</h5>
                    <h6 class="user-email">yuki@Maxwell.com</h6> -->
                </div>
                <!-- <div class="about">
                    <h5>About</h5>
                    <p>I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                </div> -->
            </div>
        </div>
    </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
    <div class="card h-100">
        <div class="card-body">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mb-2 text-primary">Personal Details</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" ngModel required name="ufirstname" #firstname1="ngModel">
                    </div>
                    <!-- {{firstname1.errors | json}} -->
                    <p class="alert alert-danger"*ngIf="firstname1.errors?.required && firstname1.touched">Please enter first name</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="email" class="form-control" id="lastName" placeholder="Enter last name" ngModel required name="ulastname" #lastname1="ngModel">
                    </div>
                    <p class="alert alert-danger"*ngIf="lastname1.errors?.required && lastname1.touched">Please enter last name</p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="mail">Mail</label>
                        <input type="text" class="form-control" id="mail" placeholder="Enter mail id" ngModel required email name="umail" #emailid1="ngModel">
                    </div>
                    <p class="alert alert-danger"*ngIf="emailid1.errors?.required && emailid1.touched">Please enter mail id</p>

                    <p class="alert alert-danger"*ngIf="emailid1.errors?.email && emailid1.touched">Please enter valid mail id</p>

                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone number" ngModel required name="uphone" #phone1="ngModel" minlength="10" pattern="^(0|[1-9][0-9]*)$">
                    </div>
                    <p class="alert alert-danger"*ngIf="phone1.errors?.required && phone1.touched">Please enter phone number</p>

                    <p class="alert alert-danger"*ngIf="phone1.errors?.minlength && phone1.touched">Please enter phone number upto 10 digits</p>

                    <p class="alert alert-danger"*ngIf="phone1.errors?.pattern">Please enter valid phone number</p>

                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="branch">Branch</label>
                        <input type="text" class="form-control" id="branch" placeholder="Branch Name" ngModel required name="ubranch" #branch1="ngModel">
                    </div>
                    <p class="alert alert-danger"*ngIf="branch1.errors?.required && branch1.touched">Please enter branch</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation" placeholder="Designation" ngModel required name="udesignation" #designation1="ngModel">
                    </div>
                    <p class="alert alert-danger"*ngIf="designation1.errors?.required && designation1.touched">Please enter designation</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="text" class="form-control" id="id" placeholder="Id"ngModel required name="uid" #id1="ngModel"pattern="^([0-9]*)$">
                    </div>
                    <p class="alert alert-danger"*ngIf="id1.errors?.required && id1.touched">Please enter id</p>

                    <p class="alert alert-danger"*ngIf="id1.errors?.pattern">Please enter valid ID</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id">Salary</label>
                        <input type="text" class="form-control" id="salary" placeholder="salary"ngModel required name="usalary" #salary1="ngModel" pattern="[1-9][0-9.]*[0-9]*">
                    </div>
                    <p class="alert alert-danger"*ngIf="salary1.errors?.required && salary1.touched">Please enter salary</p>

                    <p class="alert alert-danger"*ngIf="salary1.errors?.pattern">Please enter valid Salary ID</p>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id">Date Of Joining</label>
                        <input type="text" class="form-control" id="doj" placeholder="YYYY-MM-DD" ngModel required name="udoj" #doj1="ngModel"pattern="^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$">
                    </div>
                    <p class="alert alert-danger"*ngIf="doj1.errors?.required && doj1.touched">Please enter date of joining</p>
                    <p class="alert alert-danger"*ngIf="doj1.errors?.pattern">Please enter valid date of birth</p>

                   
                    
                </div>

                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id">Date Of Birth</label>
                        <input type="text" class="form-control" id="dob" placeholder="YYYY-MM-DD" ngModel required name="udob" #dob1="ngModel"pattern="^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$">
                    </div>
                    <p class="alert alert-danger"*ngIf="dob1.errors?.required && dob1.touched">Please enter date of birth</p>
                    <p class="alert alert-danger"*ngIf="dob1.errors?.pattern">Please enter valid date of birth</p>
                </div>


                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="id">Password</label>
                        <input type="password" class="form-control" id="pass" placeholder="Password" ngModel required name="upass" #pass1="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                    </div>
                    <p class="alert alert-danger"*ngIf="pass1.errors?.required && pass1.touched">Please enter password</p>
                    <p class="alert alert-danger"*ngIf="pass1.errors?.pattern">Please enter valid  password</p>
    
                   
                    
                </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label for="id">Leave Available</label>
                        <input type="text" class="form-control" id="leave" placeholder="LEAVES AVAILABLE" ngModel required name="uleave" #leave1="ngModel" pattern="^([0-9]*)$" maxlength="2">
                    </div>
                    <p class="alert alert-danger"*ngIf="leave1.errors?.required && leave1.touched">Please enter available holidays</p>
                    <p class="alert alert-danger"*ngIf="leave1.errors?.pattern">Please enter valid  available holidays</p>
                    <p class="alert alert-danger"*ngIf="leave1.errors?.maxlength">Please enter valid  number of days of holidays</p>
    
                   
                    
                </div>


                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-12">
                    <div class="form-group">
                        <label for="id">Total Leave</label>
                        <input type="text" class="form-control" id="leave" placeholder="TOTAL LEAVES" ngModel required name="utleave" #tleave1="ngModel" pattern="^([0-9]*)$" maxlength="2">
                    </div>
                    <p class="alert alert-danger"*ngIf="tleave1.errors?.required && tleave1.touched">Please enter available holidays</p>
                    <p class="alert alert-danger"*ngIf="tleave1.errors?.pattern">Please enter valid  available holidays</p>
                    <p class="alert alert-danger"*ngIf="tleave1.errors?.maxlength">Please enter valid  number of days of holidays</p>
    
                   
                    
                </div>
            </div>



            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label for="id">Password</label>
                    <input type="text" class="form-control" id="pass" placeholder="Password" ngModel required name="upass" #pass1="ngModel" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
                </div>
                <p class="alert alert-danger"*ngIf="pass1.errors?.required && pass1.touched">Please enter password</p>
                <p class="alert alert-danger"*ngIf="pass1.errors?.pattern">Please enter valid  password</p>

               
                
            </div> -->

            <!-- <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h6 class="mt-3 mb-2 text-primary">Address</h6>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="Street">Street</label>
                        <input type="name" class="form-control" id="Street" placeholder="Enter Street">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="ciTy">City</label>
                        <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="sTate">State</label>
                        <input type="text" class="form-control" id="sTate" placeholder="Enter State">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="zIp">Zip Code</label>
                        <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
                    </div>
                </div>
            </div> -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right btn">
                       <a routerLink="/management"><button type="button" id="submit" name="submit" class="btn btn-primary">Cancel</button></a>&nbsp;
                        <button type="submit" id="submit" name="submit" class="btn btn-success" [disabled]="f.invalid">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </form>